.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  color:rgb(63, 81, 181);
  font-weight: bold;
}
.buttons-right>button {
  float: right;
  margin: 5px;
}
.app-container {
  padding: 25px;
}

.percentage-number {
  color: rgb(63, 81, 181);
  font-size: 50px;
  font-weight: bold;
}
.percentage-sign {
  color: rgb(63, 81, 181);
  font-size: 40px;
}
.percentage-container {
  text-align: center;
}
.percentage-container:first-child {
  padding-bottom: 3em;
}

/* .container .row div {
  outline: solid 1px black;
} */
.color-bg {
  background-color: #CC0000;
   width: 300px; 
   /* height: 115px; 
   padding: 20px  */
}

.dashboard {
  width: 688px;
   height: auto;
    background-color: #F2F2F2 ;
    padding:20px;
     margin-left:20px 
}

.formSTyle {
  margin-top: 49px;
  background-color: #CC0000;
  height : 500px;
  }

  .loginButton {
    background-color: rgb(204, 153, 0);
    color: rgb(255, 255, 255);
    border-color: yellow;
    float: right;
    font-size: 24px;
  }
  .sidemenu {
    font-family: Microsoft JhengHei arial; font-weight: bold; font-size: 28px; color: #666666 
  }

  .banner {
    font-family: Microsoft JhengHei;
    font-size: 14px;
    color: white;
  }
  .bannerJs{
    font-family: Microsoft JhengHei;
    font-size: 48px;
    margin-top: 1px;
    color: white;
  }

  .table-content {
    border: solid 1px;
    padding: 16px 80px 14px 24px;
    width: 100%;
  }

  .inputPadding {
    padding : 5px;
    width: 200px;
  }

  .Logo {
    background-image: url(./javascriptImage.png);
  }

  .User {
    background-image: url(./userImage.png);
  }

  .reuseableRed {
    width: 150px;
    height: 150px;
    background-color: #FF0000;
  }
  .reuseableYellow {
    width: 150px;
    height: 150px;
    background-color: yellow;
  }